* {
    background: $background;
}

#sidebar {
    width: 20%;
}


#results-viewer {
    border: $secondary 
}


ResultsTable {
    background: $background;
    padding: 1;
    
}

ResultsTable > .datatable-cursor {
    background: $secondary;
    color: auto;
}

ResultsTable:focus {
    background: $surface;
}
ResultsTable:focus > .datatable--cursor {
    background: $secondary;
}

ResultsTable > .datatable--header {
    color: $accent
}