#sidebar {
    dock: left;
    width: 15%;
    height: 100%;
}



#book-addition-dialog {
    width: 80;
    height: auto; /* Adjust height automatically based on content */
    border: thick $background 80%;
    background: $surface 80%;
}

#search-results {
    height: 10; /* Set a fixed height for the OptionList */
}

Screen {
    align: center middle;
}