* {
    background: $background;
}
#results-viewer {
    border: $secondary 
}


ResultsTable {
    background: $panel;
    
}

ResultsTable > .datatable-cursor {
    background: $secondary;
    color: auto;
}

ResultsTable:focus > .datatable--cursor {
    background: $secondary;
}